# For orion gazelle extension
# Note: for direnv, $PWD is always the directory of the .envrc
export ORION_EXTENSIONS_DIR=$PWD/.aspect/gazelle/
source_env_if_exists ".env"
export APP_ID=2357432
export INSTALLATION_ID=96586367 # https://github.com/settings/installations/96586367 - installed on my own org
# this is for the logic app, not the auth app
# export CLIENT_ID=Iv23liE0Nig5wqGPy5B7
# prod: export OAUTH_APP_CLIENT_ID=Ov23liNsj1azRpejQKMj
export GITHUB_CLIENT_ID=Ov23liCMRthGLv9qdISk
# for bazel_env.bzl:
watch_file bazel-out/bazel_env-opt/bin/tools/bazel_env/bin
PATH_add bazel-out/bazel_env-opt/bin/tools/bazel_env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/tools/bazel_env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //tools:bazel_env' to regenerate bazel-out/bazel_env-opt/bin/tools/bazel_env/bin"
fi
